@media (min-width: 375px) and (max-width: 1024px){
.help-bar{
    display: flex;
    position: fixed;
    bottom: 2%;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 3%;
    width: 89%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 15px 30px;
    border-radius: 150px;
    z-index: 1;
}

header nav{
    display: flex;
    position: fixed;
    width: 93%;
    top: 35%;
    left: 3.5%;
    height: 58%;
    background-color: white;
    border-radius: 35px 35px 0 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 15px 20px;
}

header nav.hidden{
    display: none;
}

header nav ul{
    display: flex;
    position: fixed;
    font-size: 56px;
    list-style: none;
    padding: 0;
    margin-top: 180px;
    margin-left: 150px;
    flex-direction: column;
    gap: 160px;
    text-align: left;
}

header nav ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    position: relative;
}

header nav ul li a{
    color: rgb(77, 77, 77);
    font-weight: bold;
    text-decoration: none;
}

header nav ul li .images{
    width: 6%;
    margin-right: 5%;
}

header nav ul li .arrow{
    width: 3%;
    margin-top: 7px;
    margin-left: 2%;
}


.burguer-menu{
    border: none;
    background-color: white;
    width: 200px;
}

.hamburguer{
    width: 50%;
    margin-left: 50px;
}

.wish-icon{
    width: 10%;
}

.search-white{
    background-color: rgb(231, 0, 0);
    border-radius: 200px;
    display: flex;
    position: relative;
    width: 12%;
    height: 140px;
    padding: 40px;
    margin-top: -6%;
}

.search-icon{
    margin-left: 9%;
    margin-top: 3%;
    width: 80%;
    height: 90%;
}

.cart-icon{
    width: 8%;
}

.profile-icon{
    width: 9%;
    margin-right: 50px;
}
}

@media (min-width: 1025px){
    .help-bar{
        display: none;
    }
}